<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>后台管理</title>
<link href="/static/app/admin/admin_page/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="login_box">
      <div class="login_l_img"><img src="/static/Images/login-img.png" /></div>
      <div class="login">
          <div class="login_logo"><a href="#"><img src="/static/Images/login_logo.png" /></a></div>
          <div class="login_name">
               <p>后台管理系统</p>
          </div>
          <form method="post">
              <input name="username" type="text"  value="用户名" onfocus="this.value=''" onblur="if(this.value==''){this.value='用户名'}">
              <span id="password_text" onclick="this.style.display='none';document.getElementById('password').style.display='block';document.getElementById('password').focus().select();" >密码</span>
<input name="password" type="password" id="password" style="display:none;" onblur="if(this.value==''){document.getElementById('password_text').style.display='block';this.style.display='none'};"/>
<input name="verify_code_text" type="text" id="verify_code_text" value="验证码" onfocus="this.value=''" onblur="if(this.value==''){this.value='用户名'}"/>
<img id="verify_code" name="verify_code" src="/verify_code"/>
              <input value="登录" style="width:100%;" type="submit">
          </form>
      </div>
</div>
<div style="text-align:center;">
</div>
</body>
</html>
